<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    {%- assign description = site.description -%}
    {%- assign is_blog = false -%}

    {%- if page.name == "index.md" -%}
      {%- assign is_blog = site.minima.home_is_blog -%}
    {%- elsif page.name contains "blog.md" or page.is_post -%}
      {%- assign is_blog = true -%}
    {%- endif -%}

    {%- if is_blog -%}
      {%- assign description = site.minima.blog.description | default: site.description -%}
    {%- endif -%}

    {%- if site.minima.show_footer_heading -%}
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
    {%- endif -%}

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
              <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
