---
layout: default
---

<div class="home">
  {%- if page.title and page.show_title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if page.is_alternate -%}
    {%- assign lists_posts = page.lists_posts -%}
  {%- else -%}
    {%- assign lists_posts = site.minima.home_lists_posts -%}
  {%- endif -%}

  {%- if lists_posts and site.posts.size > 0 -%}
    {%- if page.suppress_list_title == false -%}
      <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
          <a href="{{ post.url | relative_url }}">&raquo; read more ...</a>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>

